/*HOME*/
body{
 font-family: "Arial", sans-serif;
  margin:0;
}

#topBar{
 background:#F7E269; 
}

.container{
width: 960px;
  margin: 0 auto;
}

nav ul{
 margin:0;
  padding:0;
  list-style: none;
}

/********
menu
*********/

.menu > li{
  display:inline-block;
  position: relative;
  width: 200px;
  background: #3A9D23;
  transition: all 0.5s ease-in;
}

.menu > li a{
  text-decoration: none;
  padding:15px 5px;
  display: block;
  color: #EDE5E2;
  transition: all 0.5s ease-in;
  text-transform: uppercase;
  text-align: center;
}

.menu > li:hover{
  background: #EDE5E2;
}

.menu > li:hover a{
  color: #3A9D23;
}


/*NEW COMMAND*/

form {
	width: 1000px;
	margin: 5em auto;
	padding: 5em 4em 4em 4em;
    border: 1px solid white;
	background-color: transparent;
}

.registration { 
	position: relative; 
	margin-bottom: 45px;
    text-align:center;
	margin-top: 40px;
}

input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
        display: block;
	background: white;
	color: gray;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid gray;
}

label {
	color: gray; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	left: 5px;
	top: -30px;

}

#date  {
	color: gray; 
	font-size: 14px;
	font-weight: normal;
	left: 5px;
	top: -30px;
}